<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exploration Mapper</title>
  <link rel="stylesheet" href="<%- baseUrl %>/stylesheets/style.css"/>
  <link rel="stylesheet" href="<%- baseUrl %>/libs/leaflet/dist/leaflet.css"/>
  <script src="<%- baseUrl %>/libs/leaflet/dist/leaflet.js"></script>
  <script src="<%- baseUrl %>/libs/leaflet-freedraw/dist/leaflet-freedraw.web.js"></script>
  <style>
    html, body, #map {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .is-loading, .is-loading * {
      cursor: wait;
    }

    #streetview > div {
      position: relative;
    }
    #streetview {
      position: absolute;
      width: 800px;
      height: 600px;
      left: 20px;
      bottom: 20px;
      z-index: 1000;
      border-radius: 10px;
    }
    #streetview img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    #streetview.hide {
      display: none;
    }
    #streetviewclose {
      background: red;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  </style>
</head>
<body>
<div id="map" class="map"></div>
<div id="streetview" class="hide">
  <div>
    <img id="streetviewimg" src="">
    <div id="streetviewclose"></div>
  </div>
</div>
<script>var baseUrl = <%- JSON.stringify(baseUrl) %>;</script>
<script src="<%- baseUrl %>/javascripts/map.js"></script>
</body>
</html>
