<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exploration Mapper</title>
  <!-- <link rel="stylesheet" href="<%- baseUrl %>/stylesheets/style.css"/> -->
  <link rel="stylesheet" href="<%- baseUrl %>/libs/leaflet/dist/leaflet.css"/>
  <script src="<%- baseUrl %>/libs/leaflet/dist/leaflet.js"></script>
  <style>
    html, body, #map {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .is-loading, .is-loading * {
      cursor: wait;
    }

    #streetview > div {
      position: relative;
    }
    #streetview {
      position: absolute;
      width: 800px;
      height: 600px;
      left: 20px;
      bottom: 20px;
      z-index: 1000;
      border-radius: 10px;
      background: #2C2F33;
    }
    #streetview.hide {
      display: none;
    }
    #streetview img,
    #streetview video {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    #streetview:not(.video) video {
      display: none;
    }
    #streetview.video img {
      display: none;
    }
    #streetviewclose {
      background: red;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    #streetviewswitch {
      background: blue;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      left: 10px;
      cursor: pointer;
    }
    #streetviewtitle {
      position: absolute;
      width: 100%;
      padding: 10px;
      text-align: center;
      font-family: Consolas;
      opacity: 50%;
    }
  </style>
</head>
<body>
<div id="map" class="map"></div>
<div id="streetview" class="hide">
  <div>
    <span id="streetviewtitle"></span>
    <img id="streetviewimg" src="">
    <video controls muted id="streetviewvid">
      <source id="streetviewvidsource" src="http://localhost:3000/video/GOPR1320" type="video/mp4">
    </video>
    <div id="streetviewclose"></div>
    <div id="streetviewswitch"></div>
  </div>
</div>
<script>var baseUrl = <%- JSON.stringify(baseUrl) %>;</script>
<script src="<%- baseUrl %>/javascripts/map.js"></script>
</body>
</html>
